.title-red {
    color: #f80405;
    font-family: 'Patua One', cursive;
}

.body-text {
    text-align: center;
}


/*********************************************************************************************
*****************************************  NAVBAR  *******************************************
**********************************************************************************************/
.navbar-custom {
    background-color: black;
}

.navbar-brand img {
    width: 100px;
}

.nav-link {
    color: rgba(249, 4, 5, 1);
}

.nav-line {
    height: 1px;
    background-color: rgba(249, 4, 5, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-contact {
    color: white;
}

.nav-contact p {
    margin-bottom: 3px;
}

.custom-toggler.navbar-toggler {
    border-color: rgba(249, 4, 5, 1);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249, 4, 5, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*********************************************************************************************
****************************************  FOOTER  ********************************************
**********************************************************************************************/
.container-footer {
    background-color: black;
}

.footer-logo {
    width: 200px;
}

.footer-link {
    text-align: center;
}

.footer-link a {
    color: white;
    font-size: 12px;
    white-space: nowrap;
}

.footer-item {
    text-align: center;
}

.footer-item * {
    color: white;
    display: inline-block;
    margin: 0;
}

.footer-item.footer-icon {
    text-align: end;
}

.footer-item p {
    font-size: 12px;
    text-align: center;
}

.footer-line {
    font-size: 13px;
}

.footer-line p {
    display: block;
}

.footer-line img {
    width: 60px;
}

.container-line-qr {
    text-align: end;
}

.container-line-id {
    text-align: start;
}

.footer-line-qr {
    text-align: center;
}

.footer-line-id {
    text-align: center;
    height: 100%;
}

.line-id {
    margin-top: 50%;
}

.footer-social-media p {
    font-size: 13px;
}